{% extends "layout.html" %}

{% block content %}
    <script>
        var movies = {{ movies|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <style>
        @media (min-width: 576px) {
            .card-columns {
                column-count: 1;
            }
        }
        @media (min-width: 768px) {
            .card-columns {
                column-count: 2;
            }
        }
        @media (min-width: 992px) {
            .card-columns {
                column-count: 3;
            }
        }
        @media (min-width: 1200px) {
            .card-columns {
                column-count: 4;
            }
        }
    </style>

    <div class="row">
        <div class="col-md-12 text-center bg-light p-4">
            <header class="h1 p-2">
                Movie Review Database Search Engine
            </header>
            <div class="py-1">
                Wonder what movie to watch next? Try search for some movie reviews on our website to help you decide.
            </div>
        </div>
    </div>

    <div id="cards-container" class="card-columns py-3">

    </div>
{% endblock %}